bash {{.AgentPath}} query \
  --index-file {{.IndexFile}} \
  --max-num-lines {{.MaxNumLines}} \
  --logfile {{.LogFile}} \
  --from {{.From}} \
  --to {{.To}} {{if .HasLineUtil}}--lines-until {{.LineUtil}}{{end}} {{if .RefreshIndex}}--refresh-index{{end}} {{ .Pattern}}

echo 'Z:{{ .ID }}'