bash {{.AgentPath}} query \
  --index-file {{.IndexFile}} \
  --max-num-lines {{.MaxNumLines}} \
  --logfile {{.LogFile}} {{if .FromExists}}--from {{.From}}{{end}} {{if .ToExists}}--to {{.To}}{{end}} {{if .RefreshIndex}}--refresh-index{{end}} {{ .Pattern}}

echo 'Z:{{ .ID }}'